{# SSMTP mail delivery config #}
ssmtp:
  lookup:
    config:
      Root: user@example.tld
      MailHub: mail.example.tld
      RewriteDomain: example.tld
      UseTLS: YES
      TLS_CA_File: /etc/pki/tls/certs/ca-bundle.crt
      TLS_CA_Dir: /etc/ssmtp/tls/ca
      TLSCert: /etc/ssmtp/tls/client.crt
      TLSKey: /etc/ssmtp/tls/client.key
      UseSTARTTLS: YES
      UseTLSCert: NO
      AuthUser: user@example.tld
      AuthPass: pass
      AuthMethod: PLAIN
      FromLineOverride: YES
    revaliases:
      root: user@example.tld
